.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  width: auto;
  height: 209px;
}

.footer h4 {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
